{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex align-items-center justify-content-center">
            <form method="post" class="form">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <label for="inputEmailOrUsername" class="form-label">Email or Pseudo</label>
                <div class="row">
                    <div class="col-12">
                        <input type="text" value="{{ last_username }}" name="email_or_username" id="inputEmailOrUsername" class="form-control mb-3" required autofocus>
                    </div>
                </div>
                <label for="inputPassword" class="form-label">Password</label>
                <div class="row">
                    <div class="col-12">
                        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    </div>
                </div>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                <div class="m-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>

                <button class="btn btn-lg btn-primary me-4" type="submit">
                    Sign in
                </button>
                <a href="{{ path('app_forgot_password_request') }}" class="ml-4">Reset password</a>
            </form>
        </div>
    </div>
{% endblock %}
