{% extends 'base.html.twig' %}

{% block title %}Profil | {{ parent() }}{% endblock %}

{% block body %}
<div class="container">
    <h2 class="text-center">
        {# TODO : si modifier profile, afficher Mon profil, sinon afficher le nom de l'utilisateur  #}
        {% if (app.user.id is same as (participant.id)) %}
            Mon profil
        {% else %}
            {{ participant.pseudo }}
        {% endif %}
    </h2>

        {% if (app.user.id is same as (participant.id)) %}
            <section class="row">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button>Modifier</button>
            <button type="button" ><a href="{{ path('app_main') }}">Annuler</a></button>
            {{ form_end(form)}}
            </section>
        {% else %}
            <section class="row">
                <table>
                    <tr>
                        <td><em>Prénom :</em></td>
                        <td>{{ participant.prenom }}</td>
                    </tr>
                    <tr>
                        <td><em>Nom :</em></td>
                        <td>{{ participant.nom }}</td>
                    </tr>
                    <tr>
                        <td><em>Téléphone :</em></td>
                        <td>{{ participant.telephone }}</td>
                    </tr>
                    <tr>
                        <td><em>Email :</em></td>
                        <td><a href="mailto:{{ participant.email }}">{{ participant.email }}</a></td>
                    </tr>
                    <tr>
                        <td><em>Campus :</em></td>
                        <td>{{ participant.campus.nom }}</td>
                    </tr>
                </table>
            </section>
        {% endif %}

</div>
{% endblock %}
