<h1>Ahoy!</h1>

<p>To reset your password, please visit the following link</p>

<a href="{{ path('app_reset_password', {token: resetToken.token}) }}">{{ path('app_reset_password', {token: resetToken.token}) }}</a>
{#<a href="http://localhost:8000/reset-password/reset/{{resetToken.token}}">http://localhost:8000/reset-password/reset/{{resetToken.token}}</a>#}

<p>Coucou</p>

<p>This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Cheers!</p>
