{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Accueil{% endblock %}

{% block body %}


<div class="example-wrapper">
    <p> Date du jour : {{ "now"|date("d/m/Y") }}</p>
    <p> Participant : <b>{{ app.user.prenom }} {{ app.user.nom | first }}.</b></p>

    <div>
        Filtrer les sorties :
        <form name="filtre" method="POST">
            Campus :
            <select name="campus">
                {% for campus in listeCampus %}
                    {% if campus is same as params['campusAAfficher'] %}
                        <option selected>{{ campus.nom }}</option>#}
                    {% else %}
                        <option>{{ campus.nom }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <br>
            Le nom de la sortie contient :
            <input type="text" name="nomSortieContient"
                    {% if params['portion'] is defined %}
                    value="{{ params['portion'] }}"
                    {% endif %}
            >
            <br>
            Entre <input type="datetime-local" name="dateMin"
                    {% if params['dateMin'] is defined and params['dateMin'] is not same as '' %}
                    value="{{ params['dateMin'] }}"
                    {% endif %}
            >
            et <input type="datetime-local" name="dateMax"
                    {% if params['dateMax'] is defined and params['dateMax'] is not same as '' %}
                        value="{{ params['dateMax'] }}"
                    {% endif %}
            >
            <br>

            <input type="checkbox" value="1" id="organisateurTrue" name="organisateurTrue"
                   {% if params['methode'] is same as('get')  %}
                       checked
                   {% elseif params['ck']['organisateurTrue'] is defined %}
                       checked
                   {% endif %}
            >
            <label for="organisateurTrue">Sorties dont je suis l'oganisateur.trice</label>

            <input type="checkbox" name="inscritTrue"
                    {% if params['methode'] is same as('get')  %}
                        checked
                    {% elseif params['ck']['inscritTrue'] is defined %}
                        checked
                    {% endif %}
            >
            <label for="inscritTrue">Sorties auxquelles je suis inscrit.e</label>


            <input type="checkbox" name="inscritFalse"
                    {% if params['methode'] is same as('get')  %}
                        checked
                    {% elseif params['ck']['inscritFalse'] is defined %}
                        checked
                    {% endif %}
            >
            <label for="inscritFalse">Sorties auxquelles je ne suis pas inscrit.e</label>

            <input type="checkbox" name="sortiesPassees"
                    {% if params['ck']['sortiesPassees'] is defined %}
                        checked
                    {% endif %}
            >
            <label for="sortiesPassees">Sorties passées</label>
            <br>
            <input type="text" name="ok" hidden>
            <input type="submit" value="Rechercher">
        </form>

    </div>


    <div  class="table-responsive">
        <table  class="table table-striped">
            <thead class="thead-light">
            <tr>
                <th scope="col">Nom de la sortie</th>
                <th scope="col">Date de la sortie</th>
                <th scope="col">Clôture</th>
                <th scope="col">inscrits/places</th>
                <th scope="col">Etat</th>
                <th scope="col">Inscrit</th>
                <th scope="col">organisateur</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            {% if sorties %}
                {%  for sortie in sorties %}
                    <tbody>
                    <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateHeureDebut |date }}</td>
                        <td>{{ sortie.dateLimiteInscription |date }}</td>
                        <td>{{ sortie.participants.count }}/{{ sortie.nbInscriptionMax }}</td>
                        <td>{{ sortie.etat.libelle }}</td>
                        <td>
                            {% if sortie.participants.contains(app.user) %}
                                X
                            {% endif %}
                        </td>
                        <td><a href="{{ path('app_participant_profil', {'i': sortie.organisateur.id}) }}">{{ sortie.organisateur.nom }}</a></td>
                        <td>
                            {% if app.user.userIdentifier is same as (sortie.organisateur.userIdentifier)
                                and sortie.etat.id is same as (1) %}
                                <a href="#">Modifier</a> - <a href="#">Publier</a>
                            {% else %}
                                <a href="{{ path('app_sortie_detail', {'i': sortie.id}) }}">Afficher</a>
                            {% endif %}
                            {% if app.user.userIdentifier is same as (sortie.organisateur.userIdentifier)
                                and sortie.etat.id is same as (2) %}
                                - <a href="#">Annuler</a>
                            {% elseif app.user in (sortie.participants)
                                and sortie.etat.id in ([2, 3]) %}
                                - <a href="#">Se désister</a>
                            {% elseif app.user not in sortie.participants
                                and sortie.etat.id is same as (2) %}
                                - <a href="">S'inscrire</a>
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                {%  endfor %}
            {% else %}
                <p>Pas de sorties pour l'instant</p>
            {%  endif %}
        </table>
    </div>
</div>
{% endblock %}