{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Accueil{% endblock %}

{% block body %}


<div class="example-wrapper">
    <p> Date du jour : {{ "now"|date("d/m/Y") }}</p>
    <p> Participant : <b>{{ app.user.prenom }} {{ app.user.nom | first }}.</b></p>

    <div>
        Filtrer les sorties :
        <form name="filtre" method="POST">
            Campus :
            <select name="campus">
                {% for campus in listeCampus %}
                    {% if campus is same as params['campus'] %}
                        <option selected>{{ campus.nom }}</option>
                    {% else %}
                        <option>{{ campus.nom }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <br>
            Le nom de la sortie contient :
            <input type="text" name="nomSortieContient"
                    {% if params['nomSortieContient'] is defined %}
                    value="{{ params['nomSortieContient'] }}"
                    {% endif %}
            >
            <br>
            Entre <input type="datetime-local" name="dateMin"
                    {% if params['dateMin'] is defined and params['dateMin'] is not same as '' %}
                    value="{{ params['dateMin'] }}"
                    {% endif %}
            >
            et <input type="datetime-local" name="dateMax"
                    {% if params['dateMax'] is defined and params['dateMax'] is not same as '' %}
                        value="{{ params['dateMax'] }}"
                    {% endif %}
            >
            <br>

            <input type="checkbox" id="organisateurTrue" name="organisateurTrue"
                   {% if params['methode'] is same as('get')  %}
                       checked
                   {% elseif params['organisateurTrue'] is defined %}
                       checked
                   {% endif %}
            >
            <label for="organisateurTrue">Sorties dont je suis l'organisateur.trice</label>

            <input type="checkbox" name="inscritTrue"
                    {% if params['methode'] is same as('get')  %}
                        checked
                    {% elseif params['inscritTrue'] is defined %}
                        checked
                    {% endif %}
            >
            <label for="inscritTrue">Sorties auxquelles je suis inscrit.e</label>


            <input type="checkbox" name="inscritFalse"
                    {% if params['methode'] is same as('get')  %}
                        checked
                    {% elseif params['inscritFalse'] is defined %}
                        checked
                    {% endif %}
            >
            <label for="inscritFalse">Sorties auxquelles je ne suis pas inscrit.e</label>

            <input type="checkbox" name="sortiesPassees"
                    {% if params['sortiesPassees'] is defined %}
                        checked
                    {% endif %}
            >
            <label for="sortiesPassees">Sorties passées</label>
            <br>
            <input type="text" name="ok" hidden>
            <input type="submit" value="Rechercher">
        </form>

    </div>


    <div  class="table-responsive">
        {% if pagination %}
            <table  class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Nom de la sortie</th>
                        <th scope="col">Date de la sortie</th>
                        <th scope="col">Clôture</th>
                        <th scope="col">inscrits/places</th>
                        <th scope="col">Etat</th>
                        <th scope="col">Inscrit</th>
                        <th scope="col">organisateur</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                {%  for sortie in pagination %}
                    <tbody>
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td><a href="{{ path('app_sortie_detail', {'i': sortie.id}) }}">{{ sortie.nom }}</a></td>
                            <td>{{ sortie.dateHeureDebut |date('d/m/Y h:i') }}</td>
                            <td>{{ sortie.dateLimiteInscription |date('d/m/Y') }}</td>
                            <td>{{ sortie.participants.count }}/{{ sortie.nbInscriptionMax }}</td>
                            <td>{{ sortie.etat.libelle }}</td>
                            <td>
                                {% if sortie.participants.contains(app.user) %}
                                    X
                                {% endif %}
                            </td>
                            <td><a href="{{ path('app_participant_profil', {'i': sortie.organisateur.id}) }}">{{ sortie.organisateur.nom }}</a></td>
                            <td>
                                {% if app.user.userIdentifier is same as (sortie.organisateur.userIdentifier)
                                    and sortie.etat.libelle is same as ('Créée') %}
                                    <a href="{{ path('app_sortie_modifier', {'i': sortie.id}) }}">Modifier</a> - <a href="{{ path('app_sortie_publier', {'i': sortie.id}) }}">Publier</a>
                                {% else %}
                                    <a href="{{ path('app_sortie_detail', {'i': sortie.id}) }}">Afficher</a>
                                {% endif %}
                                {% if app.user.userIdentifier is same as (sortie.organisateur.userIdentifier)
                                    and sortie.etat.libelle is same as ('Ouverte') %}
                                    - <a href="{{ path('app_sortie_annuler', {'i': sortie.id}) }}">Annuler</a>
                                {% elseif app.user in (sortie.participants)
                                    and sortie.etat.libelle in (['Ouverte', 'Clôturée']) %}
                                    - <a href="{{ path('app_sortie_desinscription', {'i': sortie.id}) }}">Se désister</a>
                                {% elseif app.user not in sortie.participants
                                    and sortie.etat.libelle is same as ('Ouverte') %}
                                    - <a href="{{ path('app_sortie_sinscrire', {'i': sortie.id}) }}">S'inscrire</a>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% else %}
            <p>Pas de sorties pour l'instant</p>
        {%  endif %}
    </div>
</div>
{% endblock %}