{% extends 'base.html.twig' %}

{% block title %}Details {{ sortie.nom }} | {{ parent() }}{% endblock %}

{% block body %}

    <h2>Détail de la sortie : <b><i>{{ sortie.nom }}</i></b> </h2>

    <p>Nom de la sortie : {{ sortie.nom }}</p>
    <p>État de la sortie : {{ sortie.etat.libelle }}</p>
    <p>Date et heure de la sortie : Le {{ sortie.dateHeureDebut | date ("d/m/y") }} à {{ sortie.dateHeureDebut | date ("H:m") }}</p>
    <p>Date limite d'inscription : {{ sortie.dateLimiteInscription |date("d/m/y") }} inclus</p>
    <p>Nombre de places : {{ nbPlaces }}</p>
    <p>Durée : {{ sortie.duree }} minutes</p>
    <p>Description et infos : {{ sortie.infosSortie }}</p>

    <p>Campus : {{ sortie.siteOrganisateur.nom }}</p>

    <p>Lieu : {{ sortie.lieu.nom }}</p>
    <p>Rue : {{ sortie.lieu.rue }}</p>
    <p>Code postal : {{ sortie.lieu.ville.codePostal }}</p>
    <p>Ville : {{ sortie.lieu.ville.nom }}</p>
        {% if (sortie.lieu.latitude >0) %}
            <p>Latitude : {{ sortie.lieu.latitude }} N</p>
        {% else %}
            <p>Latitude : {{ sortie.lieu.latitude }} S</p>
        {% endif %}
        {% if (sortie.lieu.longitude >0) %}
            <p>Longitude : {{ sortie.lieu.longitude }} E</p>
        {% else %}
            <p>Longitude : {{ sortie.lieu.longitude }} W</p>
        {% endif %}

    {% if sortie.etat.libelle is same as ('Ouverte') and (nbPlaces > 0) and (userParticipe) == false %}
        <form name="sinscrire" method="post" action="{{ path('app_sortie_sinscrire', {'i': sortie.id}) }}" >
            <input name="sinscrire" type="submit" value="S'inscrire à la sortie"> {# TODO le bonton est clickable si nbPlaces >0 #}
        </form>
    {% elseif sortie.etat.libelle is same as ('Ouverte') or sortie.etat.libelle is same as ('Clôturée') and (userParticipe) == true %}
        <form name="desinscrire" method="post" action="{{ path('app_sortie_desinscription', {'i': sortie.id}) }}">
            <input name="desinscrire" type="submit" value="Se désister ?" class="btn btn-warning"> {# TODO le bonton est clickable si nbPlaces >0 #}
        </form>
    {% elseif (nbPlaces <= 0) %}
        <p>Il n'y a plus de places :(</p>
        {#            {% elseif (nbPlaces <= 0) %}#}
        {#                <p>todo autres cas</p>#}
    {% endif %}

    {% if sortie.organisateur.id is same as app.user.id and sortie.etat.libelle is same as ('Créée') %}
        <button type="button"><a href="{{ path('app_sortie_modifier', {'i': sortie.id}) }}">Modifier</a></button>
        <button type="button"><a href="{{ path('app_sortie_publier', {'i': sortie.id}) }}">Publier</a></button>
    {% endif %}
    {% if sortie.organisateur.id is same as app.user.id and sortie.etat.libelle is same as ('Créée')
        or sortie.etat.libelle is same as ('Ouverte') or sortie.etat.libelle is same as ('Clôturée') %}
        <button type="button"><a href="{{ path('app_sortie_annuler', {'i': sortie.id}) }}">Annuler la sortie</a></button>
    {% endif %}

    <p>Liste des participants inscrits : </p>
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th scope="col">Pseudo</th>
                <th scope="col">Nom</th>
            </tr>
        </thead>
        <tbody>
            {% if (sortie.participants is empty) %}
                <tr>
                    <td>
                        Pas de Participants pour l'instant
                    </td>
                </tr>
            {% else %}
                {% for participant in sortie.participants %}
                    <tr>
                    <td>
                        <a href="{{ path('app_participant_profil', {'i': participant.id}) }}">{{ participant.pseudo }}</a>
                    </td>
                    <td>
                        {{ participant.prenom }} {{ participant.nom|upper }}
                    </td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>

{% endblock %}
