{% extends 'base.html.twig' %}

{% block title %}Nouvelle sortie | {{ parent()}} {% endblock %}

{% block javascripts %}
    {{ parent() }}
<script src="{{ asset('script/lieu.js') }}" defer></script>
{% endblock %}

{% block body %}
<div class="container">
    <h2 class="text-center">Créer une sortie</h2>

    <row class="row">
        <section class="col-6">
            {{ form_start(form) }}
            {{ form_widget(form) }}
        </section>
        <section class="col-6">
            <label for="campus">Campus</label>
            {% if 'create' in app.request.attributes.get('_route') %}
                <label for="campus">Campus</label><input type="text" id="campus" name="campus" value="{{ app.user.campus }}" readonly><br>
            {% elseif 'modifier' in app.request.attributes.get('_route') %}
                {% include 'inc/_campusModifierSortie.html.twig' %}<br>
            {% endif %}

            {# TODO peut-être pas de ville par défaut #}
            <label for="ville">Ville</label>
            <select id="ville" name="ville">
                {% if 'create' in app.request.attributes.get('_route') %}
                    <option></option>
                {% endif %}
                {% for ville in villes %}
                    {% if sortie is defined and sortie.lieu.ville.id is same as ville.id %}
                        <option value="{{ ville.id }}" selected>{{ ville.nom }} - {{ ville.codePostal }}</option>
                    {% else %}
                        <option value="{{ ville.id }}">{{ ville.nom }} - {{ ville.codePostal }}</option>
                    {% endif %}
                {% endfor %}
            </select><br>

            <label for="lieu">Lieu</label>
            <select id="lieu" name="lieu">
                {% if sortie is defined %}
                    {% for lieu in sortie.lieu.ville.lieus %}
                        {% if lieu.id is same as sortie.lieu.id %}
                            <option value="{{ lieu.id }}" selected>{{ lieu.nom }}</option>
                        {% else %}
                            <option value="{{ lieu.id }}">{{ lieu.nom }}</option>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </select><br>

{#            <label for="rue">Rue</label>#}
{#            <input type="text" id="rue" name="rue" value="" readonly><br> #}
            <span>Rue : </span><span id="rue">
                {% if sortie is defined %}
                    {{ sortie.lieu.rue }}
                {% endif %}
            </span><br>

{#            <label for="cp">Code postal</label>#}
{#            <input type="text" id="cp" name="cp" value="" readonly><br> #}
            <span>Code postal : </span><span id="cp">
                {% if sortie is defined %}
                    {{ sortie.lieu.ville.codePostal }}
                {% endif %}
            </span><br>

{#            <label for="latitude">Latitude</label>#}
{#            <input type="text" id="latitude" name="latitude" value="" readonly><br> #}
            <span>Latitude : </span><span id="latitude">
                {% if sortie is defined %}
                    {{ sortie.lieu.latitude }}
                {% endif %}
            </span><br>

{#            <label for="longitude">Longitude</label>#}
{#            <input type="text" id="longitude" name="longitude" value="" readonly><br> #}
            <span>Longitude : </span><span id="longitude">
                {% if sortie is defined %}
                    {{ sortie.lieu.longitude }}
                {% endif %}
            </span><br>
        </section>
            {# TODO revoir l'affichage des boutons, les deux premiers sont dans le formulaires maintenant #}
        {% if sortie is defined %}
            <button type="button"><a href="{{ path('app_sortie_annuler', {'i': sortie.id}) }}">Annuler la sortie</a></button>
        {% endif %}
        <button type="button"><a href="{{ path('app_main') }}">Annuler</a></button>
        {{ form_end(form)}}
    </row>
</div>
{% endblock %}
