{% extends 'base.html.twig' %}

{% block title %}Villes | {{ parent() }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('script/ajouter-ville.js') }}" defer></script>
{% endblock %}

{% block body %}
<div class="container">
    <h2 class="text-center">Gérer les villes</h2>
    <section class="" id="erreurs"></section> {# TODO peut-être à ajouter à la base #}
    <section>
        <h3 class="row">Filtrer les villes</h3>
        <form class="row form-inline" method="post">
            <label for="portion" class="col-2">Le nom contient :</label>
            <input type="text" name="portion" id="portion" class="col-2" required
            {% if params['portion'] is not same as '' %}value="{{ params['portion'] }}" {% endif %}>
            <button type="submit" class="btn btn-info col-2">Rechercher</button>
        </form>
    </section>
    {% if pagination %}
        <section class="table-responsive">
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Ville</th>
                        <th scope="col">Code postal</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for ville in pagination %}
                    <tr>
                        <td>{{ ville.nom }}</td>
                        <td>{{ ville.codePostal }}</td>
                        <td>
                            {# TODO passer l'url en variable d'environnement #}
                            <a href="{{ path('admin') }}?crudAction=edit&crudControllerFqcn=App%5CController%5CAdmin%5CVilleCrudController&entityId={{ ville.id }}">Modifier</a>
                        </td>
                    </tr>
                {% endfor %}
                    {# TODO à n'afficher que sur la dernière page de la pagination #}
                        {# TODO ou seulement si un recherche a été faite au préalable #}
                {% if pagination.count is not same as (pagination.itemNumberPerPage)
                    or pagination.totalItemCount <= pagination.itemNumberPerPage %}
                    <tr>
                        <td><em>Recherche une ville : </em>
                            <input type="text" name="nouveauNom" id="nouveauNom">
                            <select name="noms" id="noms"></select>
                        </td>
                        <td><select name="nouveauCodePostal" id="nouveauCodePostal"></select></td>
                        <td><a href="#" id="ajouterVille">Ajouter</a></td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </section>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% else %}
        <p>Pas de sorties pour l'instant</p>
    {%  endif %}
</div>
{% endblock %}
