<nav>
    <div >
            {% if app.user %}

            {% if is_granted("ROLE_ADMIN") %}

                <a href="{{ path('app_ville_liste') }}" title="villes">Villes</a>
                <a href="#" title="campus">Campus</a>
                <a href="{{ path('admin') }}" title="dashboard">Mon tableau de bord</a>

            {% endif %}

            <a href="{{ path('app_main') }}" title="Accueil">Accueil</a>
            <a href="{{ path('app_participant_profil', {'i':app.user.getId}) }}" title="Test">Mon profil</a>
            <a href="{{ path('app_logout') }}" title="Logout">Se déconnecter</a>

            {% endif %}
    </div>
</nav>